@keyframes pageframe {
	0% {height: 85%;}
	60% {height: 55%;}
	100% {height: 85%;}
}
@-moz-keyframes pageframe {
	0% {height: 85%;}
	60% {height: 55%;}
	100% {height: 85%;}
}
@-webkit-keyframes pageframe {
	0% {height: 85%;}
	60% {height: 55%;}
	100% {height: 85%;}
}



.animate {
  font-size: 50px;
  width: 100%;
  font-weight: bold;
  text-align: center;
  line-height: 1.4;
  margin: 15% auto auto auto;
  height: 85%;
  
  height: 85%;
  width: 100%;
  animation:pageframe 1s;
  -moz-animation:pageframe 1s;
  -webkit-animation:pageframe 1s;
  -o-animation:pageframe 1s;
}

.animate span {
  display: inline-block;
}

.animate span:nth-of-type(2) {
  animation-delay: .05s;
}

.animate span:nth-of-type(3) {
  animation-delay: .1s;
}

.animate span:nth-of-type(4) {
  animation-delay: .15s;
}

.animate span:nth-of-type(5) {
  animation-delay: .2s;
}

.animate span:nth-of-type(6) {
  animation-delay: .25s;
}

.animate span:nth-of-type(7) {
  animation-delay: .3s;
}

.animate span:nth-of-type(8) {
  animation-delay: .35s;
}

.animate span:nth-of-type(9) {
  animation-delay: .4s;
}

.animate span:nth-of-type(10) {
  animation-delay: .45s;
}

.animate span:nth-of-type(11) {
  animation-delay: .5s;
}




/* Animation */
.animate span {
  color: #fff;
  opacity: 0;
  transform: translate(-300px, 0) scale(0);
  animation: sideSlide .5s forwards;
}

@keyframes sideSlide {
  60% {
    transform: translate(20px, 0) scale(1);
    color: #fff;
  }
  80% {
    transform: translate(20px, 0) scale(1);
    color: #fff;
  }
  99% {
    transform: translate(0) scale(1.2);
    color: #6db33f;
  }
  100% {
    transform: translate(0) scale(1);
    opacity: 1;
    color: #fff;
  }
}
