/* 基础样式 */

* {
	font-size: 0;
}

*::selection{
	background-color: var(--green_3);
	color: #fff;
}

a {
	text-decoration: none;
}

html,body{
	height: 100%;
}

body {
	flex-direction:column;
	justify-content:center;
	background-color: var(--bgcolor);
}

a,li,footer,form,*{
	font-family: "microsoft yahei";
}