#top-nav>span {
	line-height: 40px;
}

.backgroundimg {
	float: left;
	position: fixed;
	top: 0;
	left: 0;
	z-index: -1;
	width: 100%;
}



/* logo */
.top-nav {
	width: 100%;
	height: 40px;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 2;
	
	background-repeat: no-repeat;
	background-position: center;
	background-size:auto 100%;
	transition: 0.4s;
	
	/* background-image: url(../test/imgs/国庆-05.svg);
	background-color: transparent; */
}

/* .top-nav:hover{
	height: 100px;
} */

.top-nav>a>img {
	height: 30px;
	margin-left: 20px;
	margin-top: 5px;
}


/* 盒子样式 */
.style {
	box-sizing: border-box;
	border-radius: 6px;
	font-size: 0;
}

/* =========顶部导航条============ */

/* 黑夜白天模式 */
.sun-moon{
	display: inline-block;
	float: right;
	box-sizing: border-box;
	height: 30px;
	width: 30px;
	border-radius: 20px;
	margin-top: 5px;
}

.sun-moon:hover{
	background-color: rgba(255,255,255,0.3);
	background-color: var(--theme_color);
}


.sun-moon>span{
	display: inline-block;
	float: left;
	font-size: 20px;
	margin-left: 10px;
	margin: 5px;
	color: white;
}



/* 设置主题切换鼠标样式 */
.top-nav>div>span.iconfont{
	cursor: default;
}


/* =============photopage========== */
.photopage {
	width: 1030px;
	max-height: 300px;
	margin: 20px auto;
	overflow: hidden;
	position: relative;
}

.photopage a img {
	width: 100%;
	transition: 0.5s;
}
.photopage:hover a img{
	transform: scale(1.1);
}

.photopage>div.tip-text-box {
	position: absolute;
	z-index: 1;
	width: 100%;
}
.photopage>div.tip-text-box>span.tip-text {
	color: white;
	border: none;
	padding: 0;
	padding-left: 10px;
	line-height: 30px;
	transition: 0.2s;
}
.photopage:hover>div.tip-text-box>span.tip-text {
	background-color: rgba(0,0,0,.7);
	color: var(--theme_color);
}




/* =================我的站点=============== */

/* 我的站点整体box */
.offen-use-site {
	height: 175px;
	width: 1030px;
	margin: 0 auto;
	padding: 10px;
}

/* 我的站点、常用站点标题提示文字 */
.offen-use-site>:nth-child(1) {
	display: inline-block;
	width: 100%;
}


/* 标题提示文字 */
.tip-text {
	display: inline-block;
	width: 100%;
	font-size: 16px;
	color: var(--theme_color);
	padding-bottom: 10px;
	font-weight: 800;
	border-bottom: 1px var(--theme_color) solid;
}

/* 站点各项的box，ul */
.site-ul-box {
	margin-top: 10px;
	width: 100%;
	height: 120px;
}

/* 站点图标 */
.site-ul-box>a>span.iconfont{
	font-size: 70px;
	line-height: 70px;
	margin-bottom: 10px;
}

/* 站点的li项 */
.site-li-box {
	box-sizing: border-box;
	margin: 0 10px;
	padding: 10px;
	width: 90px;
	transition: 0.2s;
	display: inline-block;
	background-color: initial;
	box-shadow: none;
}

.hover-style:hover {
	box-shadow: 0 0 2px #c8c8c8;
	background-color: rgba(0,0,0,.2);
}


/* li项的文字span */
.site-li-box>span {
	display: inline-block;
	width: 100%;
	text-align: center;
	font-size: 16px;
	line-height: 16px;
}


/* =============案例、学习笔记、java api、实验报告最外层不可见box============== */
.case-max-box {
	width: 1030px;
	margin: 20px auto;
	font-size: 0;
}

.case-max-box::after {
	content: '';
	display: block;
	clear: both;
}

/* 其中一项ul的盒子 */
.case-ul-box {
	float: left;
	width: 330px;
	height: 200px;
	display: inline-block;
	padding: 10px;
}

.case-ul-box:nth-child(1),
.case-ul-box:nth-child(2) {
	margin-right: 20px;
}


/* 每个ul中，多个li的盒子 */
.case-li-box {
	overflow: auto;
	height: 150px;
	width: 100%;
}

/* 多个li盒子之间的空隙 */
.interval{
	float: left;
	display: inline-block;
	width: 18px;
	height: 10px;
}

/* 各ul中的li项 */
.case-li {
	display: block;
	margin-top: 5px;
	margin-left: 5px;
	margin-right: 5px;
	font-size: 14px;
	padding: 5px;
	background-color: initial;
}

.case-li:hover {
	color: var(--theme_color) ;
}


/* ===============底部============== */
.footer{
	margin: auto;
	width: 70%;
	font-size: 0;
	line-height: 18px;
	padding-bottom: 50px;
}

.footer>div>img{
	height: 20px;
}

.describe{
	width: 80%;
	color: #000;
	margin-top: 20px;
}
.footer *{
	color: var(--footer);
}

.info {
	font-size: 12px;
	display: inline-block;
	width: 60%;
}

.links {
	font-size: 12px;
	display: inline-block;
	width: 40%;
}

.describe>:first-child {
	margin-bottom: 10px;
}

.footer a:hover  {
	color: var(--theme_color);
	text-decoration: underline;
}

.footer a:hover span{
	color: var(--theme_color);
}





/* ============大文字========== */
.big-quote {
	height: 100%;
	display: flex;
	align-items: center;
}

.big-quote * {
	color: var(--theme_color);
}
.big-quote p {
	font-size: 42px;
	line-height: 1.5;
	/* color: var(--theme_color); */
	font-weight: bold;
	text-align: center;
}

.big-quote>div {
	margin: 0 auto;
	position: relative;
	top: -16%;
}

.big-quote img,
.big-quote>div>svg{
	height: 50px;
	margin: 0 auto;
	display: block;
	margin-bottom: 20px;
}

.big-quote svg defs style .cls-1{
	fill:#000;
}

#yiyan {
	margin-top: 100px;
	max-width: 400px;
}

#yiyan>a {
	display: inline-block;
	word-wrap: break-word;
	text-align: center;
	line-height: 23px;
	width: 100%;
}


.link {
	color: transparent;
	text-decoration: none;
}

#yiyan>a>span:hover {
	color: white;
}

#yiyan>a:hover .link {
	color: white;
}


#love:hover {
	color: white;
	background-color: deeppink;
}



/* ===============字体图标================= */
@font-face {
  font-family: 'iconfont';
  src: url('../iconfont/iconfont.eot');
  src: url('../iconfont/iconfont.eot?#iefix') format('embedded-opentype'),
      url('../iconfont/iconfont.woff2') format('woff2'),
      url('../iconfont/iconfont.woff') format('woff'),
      url('../iconfont/iconfont.ttf') format('truetype'),
      url('../iconfont/iconfont.svg#iconfont') format('svg');
}
.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}