/*
 CSDN博客https://blog.csdn.net/qq_42179997
 微博https://weibo.com/5925552385/profile
 QQ邮箱 http://mail.qq.com/cgi-bin/qm_share?t=qm_mailme&email=yvj68-P__fj6_PuKu7vkqaWn
 github https://github.com/qkmango/
 码云	 https://gitee.com/qkmango
*/

:root {
    --green_1:#2ebc4f;
    --green_2:#6db33f;
	--blue_1:rgb(41, 151, 255);
	--blue_2:#0779E4;
	--orange:#ff5500;
	--bgcolor:#090724;
	--footer:#545462;;
}


* {
	font-size: 0;
}

*::selection{
	background-color: #000;
}

a {
	text-decoration: none;
}

html,body{
	height: 100%;
}

body {
	flex-direction:column;
	justify-content:center;
	background-color: var(--bgcolor);
}


#top-nav>span {
	line-height: 40px;
}

.backgroundimg {
	float: left;
	position: fixed;
	top: 0;
	left: 0;
	z-index: -1;
	width: 100%;
}



/* logo */
.top-nav {
	width: 100%;
	height: 40px;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 2;
}

.top-nav>a>img {
	height: 30px;
	margin-left: 20px;
	margin-top: 5px;
}


/* 盒子样式 */
.style {
	box-sizing: border-box;
	border-radius: 6px;
	font-size: 0;
}

/* =========顶部导航条============ */

/* 黑夜白天模式 */
.sun-moon{
	display: inline-block;
	float: right;
	box-sizing: border-box;
	height: 30px;
	width: 30px;
	border-radius: 20px;
	margin-top: 5px;
}

.sun-moon:hover{
	background-color: rgba(255,255,255,0.3);
}


.sun-moon>span{
	display: inline-block;
	float: left;
	font-size: 20px;
	margin-left: 10px;
	margin: 5px;
	color: white;
}



/* 设置主题切换鼠标样式 */
.top-nav>div>span.iconfont{
	cursor: default;
}


/* =============photopage========== */
.photopage {
	width: 1030px;
	max-height: 300px;
	margin: 20px auto;
	overflow: hidden;
	position: relative;
}

.photopage a img {
	width: 100%;
	transition: 0.5s;
}
.photopage:hover a img{
	transform: scale(1.1);
}

.photopage>div.tip-text-box {
	position: absolute;
	z-index: 1;
	width: 100%;
}
.photopage>div.tip-text-box>span.tip-text {
	color: white;
	border: none;
	padding: 0;
	padding-left: 10px;
	line-height: 30px;
	transition: 0.2s;
}
.photopage:hover>div.tip-text-box>span.tip-text {
	background-color: rgba(0,0,0,.7);
	color: var(--green_1);
}




/* =================我的站点=============== */

/* 我的站点整体box */
.offen-use-site {
	height: 175px;
	width: 1030px;
	margin: 0 auto;
	padding: 10px;
}

/* 我的站点、常用站点标题提示文字 */
.offen-use-site>:nth-child(1) {
	display: inline-block;
	width: 100%;
}


/* 标题提示文字 */
.tip-text {
	display: inline-block;
	width: 100%;
	font-size: 16px;
	color: var(--green_1);
	padding-bottom: 10px;
	font-weight: 800;
	border-bottom: 1px var(--green_1) solid;
}

/* 站点各项的box，ul */
.site-ul-box {
	margin-top: 10px;
	width: 100%;
	height: 120px;
}

/* 站点图标 */
.site-ul-box>a>span.iconfont{
	font-size: 70px;
	line-height: 70px;
	margin-bottom: 10px;
}

/* 站点的li项 */
.site-li-box {
	box-sizing: border-box;
	margin: 0 10px;
	padding: 10px;
	width: 90px;
	transition: 0.2s;
	display: inline-block;
	background-color: initial;
	box-shadow: none;
}

.hover-style:hover {
	box-shadow: 0 0 2px #c8c8c8;
	background-color: rgba(0,0,0,.2);
}


/* li项的文字span */
.site-li-box>span {
	display: inline-block;
	width: 100%;
	text-align: center;
	font-size: 16px;
	line-height: 16px;
}


/* =============案例、学习笔记、java api、实验报告最外层不可见box============== */
.case-max-box {
	width: 1030px;
	margin: 20px auto;
	font-size: 0;
}

.case-max-box::after {
	content: '';
	display: block;
	clear: both;
}

/* 其中一项ul的盒子 */
.case-ul-box {
	float: left;
	width: 330px;
	height: 200px;
	display: inline-block;
	padding: 10px;
}

.case-ul-box:not(.case-ul-box:last-child) {
	margin-right: 20px;
}

/* 每个ul中，多个li的盒子 */
.case-li-box {
	overflow: auto;
	height: 150px;
	width: 100%;
}

/* 多个li盒子之间的空隙 */
.interval{
	float: left;
	display: inline-block;
	width: 18px;
	height: 10px;
}

/* 各ul中的li项 */
.case-li {
	display: block;
	margin-top: 5px;
	margin-left: 5px;
	margin-right: 5px;
	font-size: 14px;
	padding: 5px;
	background-color: initial;
}

.case-li:hover {
	color: var(--green_1) ;
}


/* ===============底部============== */
.footer{
	margin: 250px auto 50px auto;
	width: 70%;
	font-size: 0;
	line-height: 18px;
}

.footer>div>img{
	height: 20px;
}

.describe{
	width: 80%;
	color: #000;
	margin-top: 20px;
}
.footer *{
	color: var(--footer);
}

.info {
	font-size: 12px;
	display: inline-block;
	width: 60%;
}

.links {
	font-size: 12px;
	display: inline-block;
	width: 40%;
}

.describe>:first-child {
	margin-bottom: 10px;
}

/* ===================滚动条================== */
/*定义了滚动条整体样式；*/ 
::-webkit-scrollbar{
	width: 10px !important;
}
		
/*定义了滚动条滑块的样式*/
::-webkit-scrollbar-thumb {
	border-radius: 10px;
	background-color: rgba(131, 131, 131, 0.2);
}

/*定义了滚动条滑块鼠标移入样式*/
::-webkit-scrollbar-thumb:hover {
	background-color: rgba(131, 131, 131, 0.4);
}


/* 文本字体 */
a,li,footer,form,*{
	font-family: "microsoft yahei";
}




/* ============大文字========== */
.big-quote {
	height: 100%;
}

.big-quote>p {
	font-size: 24px;
	line-height: 1.5;
	color: var(--green_2);
	font-weight: bold;
	text-align: center;
}

.big-quote>img {
	height: 50px;
	margin: 0 auto;
	display: block;
	padding-top: 250px;
	margin-bottom: 20px;
}




/* ===============字体图标================= */
@font-face {
  font-family: 'iconfont';
  src: url('./iconfont/iconfont.eot');
  src: url('./iconfont/iconfont.eot?#iefix') format('embedded-opentype'),
      url('./iconfont/iconfont.woff2') format('woff2'),
      url('./iconfont/iconfont.woff') format('woff'),
      url('./iconfont/iconfont.ttf') format('truetype'),
      url('./iconfont/iconfont.svg#iconfont') format('svg');
}
.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}