* {
	font-size: 0;
}

p::selection,
a::selection,
span::selection {
	color: #fff;
	background-color: var(--green_3);
}

html,
body {
	width: 100%;
	height: 100%;
	font-size: 0;
}

/* ====顶部导航==== */
#top_nav {
	height: 70px;
	/* background-color: #000; */
	padding: 15px 20px;
	position: fixed;
	width: 100%;
	/* margin-top: -90px; */
	transition: 0.5s;
}

#top_nav>img {
	height: 100%;
}


/* ====欢迎文字==== */
#welcome_box {
	height: calc(100% - 90px);
	height: 100%;
	padding-top: 120px;
	box-sizing: border-box;
	animation-name: welcome_animation;
	animation-duration: 2s;
	text-align: center;
	background-image: url(../imgs/header_img/cloud.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: auto 100%;
	/* margin-top: 90px; */
	margin-bottom: 20px;
	transition: 1s;
}

/* #welcome_box:hover {
	background-image: url(../imgs/header_img/cloud_source.jpg);
} */

#welcome_box>img {
	width: 50%;
	margin: 20px 0;
	box-sizing: border-box;
	border-radius: 50%;
	box-shadow: 0 0 15px var(--green_4_a);
}

#welcome_title {
	text-align: center;
	font-size: 100px;
	line-height: 1.3;
	font-weight: bold;
	color: #fff;
	animation-name: welcome_title_animation;
	animation-duration: 2s;
}

@keyframes welcome_animation {
	0% {
		/* height: calc(100% - 90px); */
		height: 100%;
	}

	15% {
		height: 85%;
	}

	30% {
		background-image: url(../imgs/header_img/cloud_source.jpg);
	}

	50% {
		height: 100%;
	}

	100% {
		background-image: url(../imgs/header_img/cloud.jpg);
	}
}

@keyframes welcome_title_animation {
	0% {
		color: transparent;
	}

	100% {
		color: #fff;
	}
}

/* ====上部图片==== */
#header_img_box {
	width: 100%;
	overflow: hidden;
	width: calc(100% - 40px);
	margin: 0 20px 20px 20px;
	border-radius: 30px;
}

#header_img_box>img {
	width: 100%;
	transition: 0.5s;
}

#header_img_box:hover>img {
	transform: scale(1.1);
}


/* ====我的站点==== */
#my_web {
	color: #000;
	width: 100%;
	width: calc(100% - 40px);
	margin: 0 20px;
}



/* 各项的logo icon */
#my_web>.my_web_item_box>.iconfont {
	font-size: 200px !important;
	float: left;
	margin-right: 10px;
}

/* 我的站点各项 */
#my_web>.my_web_item_box {
	/* background-color: #42b98333; */
	background-color: var(--green_4_a);
	height: 240px;
	width: calc(50% - 10px);
	padding: 20px 10px;
	box-sizing: border-box;
	transition: 0.5s;
	border-radius: 30px;
	display: inline-block;
	margin-bottom: 20px;
}

#my_web>.my_web_item_box:hover {
	color: #fff;
	background-color: var(--green_4);
}

/* 站点各项的文字部分 的box */
#my_web .introduce {
	float: left;
	width: 230px;
}

/* 各项的标题文字（链接） */
#my_web .introduce>a {
	display: block;
	font-size: 50px;
	font-weight: bold;
	margin-bottom: 20px;
	color: #000;
	transition: 0.5s;
	text-decoration: none;
}

#my_web>.my_web_item_box:hover>.introduce>a {
	color: #fff;
	text-decoration: underline;
}

/* 各项的标题文字 后面的链接 icon */
#my_web .introduce>a>.iconfont {
	font-size: 50px;
	color: transparent;
}

#my_web>.my_web_item_box:hover>.introduce>a>.iconfont {
	color: #fff;
	transition: 0.5s;
}

/* 各项的简介小字 */
#my_web .introduce>p {
	font-size: 40px;
}

/* 各项左边的盒子右边距 */
#my_web>.my_web_item_box.left_box_in_line {
	margin-right: 20px;
}


/* 各个站点的logo icon颜色 */
#my_web>.my_web_item_box.csdn>.iconfont {
	color: #dd1700;
}

#my_web>.my_web_item_box.github>.iconfont {
	color: #3e75c3;
}

#my_web>.my_web_item_box.gitee>.iconfont {
	color: #dd1700;
}

#my_web>.my_web_item_box.weibo>.iconfont {
	color: #ea5d5c;
}

#my_web>.my_web_item_box.zhihu>.iconfont {
	color: #0e87ea;
}

#my_web>.my_web_item_box.douyin>.iconfont {
	color: #060716;
}

#my_web>.my_web_item_box.email>.iconfont {
	color: #3a3a3a;
}

#my_web>.my_web_item_box.xhs>.iconfont {
	color: #ff2543;
}



/* ====一言==== */
#yiyan {
	display: block;
	text-decoration: none;
	padding: 20px;
	text-align: center;
	/* background-color: #42b98333; */
	background-color: var(--green_4_a);
	margin: 0 20px;
	border-radius: 30px;
	transition: 0.5s;

}

#yiyan:hover {
	background-color: #42b983;
}

#yiyan:hover>span {
	color: #fff;
	text-decoration: underline;
}

#yiyan>span {
	color: var(--green_3);
	font-size: 40px;
	line-height: 1.3;
	transition: 0.5s;
}

#yiyan>span:nth-child(2) {
	margin-right: 10px;
}



/* ====页脚footer==== */
#footer {
	/* background-color: #000; */
	/* background-color: var(--green_4_a); */
	padding: 20px;
	margin-top: 20px;
	margin: 20px;
	/* border-radius: 30px; */
	border-top: 5px solid var(--green_4);
	border-top-style: dotted;
}

#tell,
#page_link,
#describe,
#footer a,
#footer a>.iconfont,
#school_link {
	font-size: 40px;
	line-height: 50px;
	color: #fff;
	color: var(--green_4_a5);
	text-decoration: none;
	margin-bottom: 20px;
}


#footer a:hover,
#footer a:hover>.iconfont {
	text-decoration: underline;
	/* color: var(--green_3); */
	color: #fff;
	font-weight: bold;
}
